.banner {
    background-image: linear-gradient(rgba(2, 55, 60, 0.7), rgba(68, 147, 66, 0.6)), url("./assets/image.jpg");
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.bannerheading {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-weight: bold;
    color: #fff;
    text-align: center;
}